openapi: 3.0.2
info:
  version: 3.0.0
  title: Freshbooks Documentation
  contact:
    email: contact@freshbooks.com
    url: 'https://support.freshbooks.com/hc/en-us'
  x-logo:
    url: 'https://www.freshbooks.com/wp-content/themes/freshbooks/dist/images/navigation/freshbooks-logo_e1149d13.svg'
  description: >
    # Home

    Welcome to the Freshbooks Documentation where we have exposed our Restful APIs as a product. In this documentation you'll see how seamless it is to use Freshbooks APIs to solve complex problems in your day to day business.

    # Authentication

    We at Freshbooks use to the OAuth 2.0 to authenticate requests to any resource on the Freshbooks API. We also made this super seamless. I'll be showing you how to do this with 4 simple steps. Nothing more.

    1. You create an application user/account [here](https://my.freshbooks.com/#/developer). Look at this account as a super account in the Freshbooks System. It would be responsible for accessing all your resources in the Freshbooks ecosystem tied to that very account. We have awesome blogpost [here](https://www.freshbooks.com/api/authenticating-with-oauth-2-0-on-the-new-freshbooks-api) showing how to create an Application.
    ![image](https://res.cloudinary.com/seamless-africa-fintech/image/upload/v1607582957/FB_Auth_Flow_1_cukfy6.jpg)

    2. Now render the Authorization URL from step 1. Once the application grants Fresbooks access, we will redirect you to the Redirect URIs specified when the application was created passing a `code` as query parameters to the redirect URL. So make sure to listen on your redirect url for a query parameter called `code`. You will need it


    3. Now use the `code` from step 2 on as code on `/auth/oauth/token`. See full API specification [here](https://www.freshbooks.com/api/authentication). Freshbooks will then return a pair of access_token and refresh_token. They are called tokens

    4. Subsequent request on the Fresh Books APIs can be authenticated using the token by passing it in the Authorization header as `Bearer <token>`

# tags:
# - name: Authorization & Authe
#   description: Get Authorization
servers:
  - url: 'https://api.freshbooks.com'
paths:
  /auth/oauth:
    $ref: 'paths/oauth.yaml'
  /auth/oauth/token:
    $ref: 'paths/oauth-reg.yaml'
  /events/account/accountid/events/callbacks":
    $ref: 'paths/create-webhook.yaml'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: Bearer <access_token>
